.label {
  position: absolute;
  top: 24px;
  left: 24px;
  box-sizing: border-box;
  padding: 8px 12px;
  background-color: #fff;
  border-radius: 10px;
}

.label__text {
  margin: 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.tooltip {
  margin-left: 100px;
  opacity: 0.01;
  position: absolute;
  top: 0;
  right: 69px;
  box-sizing: border-box;
  padding: 14px 12px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.4s ease opacity, 0.4s ease top;
}

.tooltip__text {
  margin: 0 auto;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

@media (min-width: 768px) and (max-width: 1439px) {

  .label {
    top: calc((100vw - 768px)/(1439 - 768) * (24 - 8) + 8px);
    left: calc((100vw - 768px)/(1439 - 768) * (24 - 8) + 8px);
  }

  .tooltip {
    top: calc((100vw - 768px)/(1439 - 768) * (24 - 8) + 8px);
    right: calc((100vw - 768px)/(1439 - 768) * (69 - 53) + 53px);
  }
}

@media (max-width: 767px) {
  .tooltip {
    top: 8px;
    right: 53px;
  }
  .label {
    top: 8px;
    left: 8px;
  }
}
