@import './_visible/mobile-menu_visible.css';
@import './_invisible/mobile-menu_invisible.css';

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 100;
}
