@import './__legend/form__legend.css';
@import './__field/form__field.css';
@import './__label/form__label.css';
@import './__input/form__input.css';
@import './__button/form__button.css';
@import './__error/form__error.css';
@import './__fieldset/form__fieldset.css';
@import './__redirect-text/form__redirect-text.css';
@import './__redirect-link/form__redirect-link.css';

.form {
  box-sizing: border-box;
  padding: 34px 36px 28px;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

@media (max-width: 450px) {
  .form {
    height: 100%;
    width: 100%;
    padding: 16px;
  }
}
