.navigation_place_mobile-menu {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .navigation_place_mobile-menu {
    padding: calc((100vw - 320px)/(767 - 320) * (40 - 16) + 16px);
  }
}

@media (max-width: 319px) {
  .navigation_place_mobile-menu {
    padding: 16px;
  }
}
